<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"/>
  </head>
  <body>
    <header>
      <div class="cnt-general">
        <figure class="cnt-logo"><img src="../../static/img/cabeza.jpg" alt="" width="150" heigth="90" class="logo"/></figure>
        <nav class="nav-principal">
          <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Servicios</a></li>
            <li><a href="">Portafolio</a></li>
            <li><a href="">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="cnt-slider">
      <div class="galeria-slider">
        <div class="capa-slider"></div>
        <div style="background-image:url(../../static/img/slider.jpg)" class="item-img"></div>
        <div class="cnt-texto">
          <h2 class="subtitle-banner">
             ipsum dolor sit amet, consectetur adipisicing elit. Ea sequi, magnam ipsa deleniti
             ctetur adipisicing elit. Ea sequi, magnam ipsa deleniti
          </h2>
        </div>
      </div>
    </section>
  </body>
</html>