<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="../../static/css/styles.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato")
	body
		header
			.cnt-general
				figure.cnt-logo
					img.logo(src="../../static/img/cabeza.jpg", alt="", width="150", heigth="90")
				nav.nav-principal
					ul
						li
							a(href="") Inicio
						li
							a(href="") Nosotros
						li
							a(href="") Servicios
						li
							a(href="") Portafolio
						li
							a(href="") Contacto
		section.cnt-slider
			.galeria-slider
				.capa-slider

				.item-img(style="background-image:url(../../static/img/slider.jpg)")
				.cnt-texto
					h2.subtitle-banner.
						 ipsum dolor sit amet, consectetur adipisicing elit. Ea sequi, magnam ipsa deleniti
						 ctetur adipisicing elit. Ea sequi, magnam ipsa deleniti






