<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="../../static/css/styles.css")
	body
		header 
			nav 
				ul
					li
						a test
					li 
						a test2
					li 
						a test3
					li
						a.
							gg report 


